replicaCount: 2
containerPort: 8080

image:
  repository: nginx
  tag: "10145630729"
  pullPolicy: IfNotPresent

service:
  name: go-service
  type: ClusterIP
  port: 80
  targetPort: 8080
  protocol: "TCP"

ingress:
  host: "app.kyawzawaung.site"
