replicaCount: 2
containerPort: 8080

image:
  repository: httpd
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  name: go-service
  type: NodePort
  port: 80
  targetPort: 8080
  protocol: "TCP"

ingress:
  host: "app.kyawzawaung.site"
